.img{
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 100%;
    height:300px;
}

.img img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}
.vcenter {
    vertical-align: middle;
}